/* Estilos generales para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5a595c;
    padding: 1rem 2rem;
    font-size: 20px;
 
  }
  
  /* Estilos para el logo */
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Estilos para la lista de enlaces */
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 15px;
    
  }

  .navbar-links a:hover{
    color: #f8f8f8;
    font-weight: bold;
  }
